html{
    background-color: hsl(212, 45%, 89%);
    max-width: 1440px;
    min-width: 400px;
    margin: auto;
}
body{
    max-width: 375px;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin: 50px auto;
}
img{ 
    border-radius: 20px;
    width: 100%;
}
h1{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
h2{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
.main-container{
    padding: 30px ;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 10px 10px 15px rgba(169, 169, 169, 0.153);
    border: none;
    border-radius: 20px;
}
.attribution{
    padding-top: 40px;
}
